//bg-colors for boxes
.bg-transparent {
    background-color: transparent;
}
.bg-green {
    background-color: $green;
    fill: $green;
    color: $white;
}

.bg-white {
    background-color: $white;
    fill: $white;
}

.bg-blue {
    background-color: $blue;
    fill: $blue;
    color: $white;
}

.bg-red {
    background-color: $red;
    fill: $red;
    color: $white;
}

.bg-gray-dark {
    background-color: $gray-dark;
    fill: $gray-dark;
    color: $white;
}

.bg-smoke {
    background-color: $gray-lighter;
    fill: $gray-lighter;
}

.bg-orange {
    background-color: $orange;
    fill: $orange;
}

.bg-yellow {
    background-color: $yellow;
    fill: $yellow;
}

.bg-lexcorp {
    color: $white;
    background-image: -moz-linear-gradient( 90deg, rgb(41, 37, 36) 0%, rgb(52, 47, 44) 20%, rgb(61, 58, 55) 45%, rgb(64, 63, 61) 70%, rgb(63, 68, 72) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(41, 37, 36) 0%, rgb(52, 47, 44) 20%, rgb(61, 58, 55) 45%, rgb(64, 63, 61) 70%, rgb(63, 68, 72) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(41, 37, 36) 0%, rgb(52, 47, 44) 20%, rgb(61, 58, 55) 45%, rgb(64, 63, 61) 70%, rgb(63, 68, 72) 100%);
}