.btn {
	text-transform: uppercase;
	width: 18rem;
    border-width: 2px;
    border-bottom-width: 5px;
	&:focus,
	&.focus {
		box-shadow: $btn-focus-box-shadow;
	}

	&:active,
	&.active {

	}

	&.btn-outline-success {
		&:hover {
    		border-bottom-color: darken($green, 15%);
		}
		&:focus,
		&.focus {
		}
	}

	&.btn-outline-danger {
		&:hover {
    		border-bottom-color: darken($red, 15%);
		}
		&:focus,
		&.focus {
		}
	}

	&.btn-outline-info {
		&:hover {
    		border-bottom-color: darken($white, 15%);
    		color: $blue;
		}
		&:focus,
		&.focus {
		}
	}
}

.btn-to-top {
    background-color: darken($blue, 5%);
    border-width: 1px;
    border-color: lighten($blue, 10%);
    font-size: 2.25rem;
    line-height: 1;
    padding: 0;
    color: white;
    width: 3rem;
    &:hover,
    &:focus {
	    background-color: darken($blue, 10%);
	    border-color: lighten($blue, 10%);
	    border-width: 1px;
	    transition: 0.5s;
	    color: lighten($blue, 5%);
    }

}
.btn-to-top i {
    line-height: 2.5rem;
}
.btn-lg {
	font-size: 1rem;
}