.karta {
    //background-repeat: no-repeat;
    //background-size: contain;
    //padding-top: 2rem;
    max-width: 100%;
    //Eftersom det är en rubrik på bilden använder vi media queries i css istället för srcset:
    /*
    @media (min-width: 1280px) {
        background-image: url(../images/img/bg-desktop-konsulter-map@2x.jpg);
        height: 49.5rem;
    }
    @media (min-width: 640px) and (max-width: 1280px) {
        background-image: url(../images/img/bg-desktop-konsulter-map.jpg);
        height: 24.75rem;
    }
    @media (min-width: 480px) and (max-width: 640px) {
        background-image: url(../images/img/bg-desktop-konsulter-map@0,5x.jpg);
        height: 12.375rem;
    }
    @media(min-width: 240px) and (max-width: 480px) {
        background-image: url(../images/img/bg-mobile-konsulter.jpg);
        height: 43.6875rem;
    }
    @media (max-width: 240px) {
        background-image: url(../images/img/bg-mobile-konsulter@0,5x.jpg);
        height: 21.875rem;
    }
    */
}

.karta {
    position: relative;
}
.karta .section-heading {
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}