footer {
	background-color: $blue;
	color: $white;
}

address {
    font-style: normal;
    color: #ababab;
    line-height: 2;
}

.ul-social {
}

.ul-social li {
	display:inline;
}

.ul-social li a {
    text-decoration: none;
    color: white;
}

.ul-social li a:hover {
    color: lighten($blue, 40%);
}