footer {
	background-color: $blue;
	color: $white;
	padding: 60px 0;
}

address {
    font-style: normal;
    color: #ababab;
    line-height: 2;
}

.ul-social {
}
.ul-social li {
	display:inline;
    //margin: 0 5px $main-margin 0;
}
.ul-social li a {
    text-decoration: none;
    color: white;
}
.ul-social li a:hover {
    color: lighten($blue, 40%);
}