footer {
	background-color: $blue;
	color: $white;
	position: relative;
    a {
        color: #fff;
        &:hover {
            color: lighten($blue, 40%);
        }
    }
    a[href^=tel] {
        @media (min-width: 480px) {
            color: #ababab;
        }
    }
}

address {
    font-style: normal;
    color: #ababab;
    line-height: 2;
}

.ul-social {
    margin-bottom: 2.5rem;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

.ul-social li {
	display:inline;
}

.ul-social li a {
    text-decoration: none;
    color: white;
}

.ul-social li a:hover {
    color: lighten($blue, 40%);
}

.btn-to-top {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    margin-left: -1.5rem;
    @media (min-width: 768px) {
        bottom: 0;
        right: 1rem;
        left: auto;
        margin-left: 0;
    }
}