.site-logo { 
    float: left;
    padding: 1.1rem 1rem 0.70rem 1rem;
}
#logo {
    width: 80px;
    height: 25px;
}

.navbar-toggler {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    border: none;
    border-radius: 0;
    &:focus {
        outline: none;
    }
}
.navbar-toggler-right {
    right: 0;
}
.navbar-inverse .navbar-toggler-icon {
    background-image: none;
    width: 1.5rem;
    height: 1.5rem;
}

#siteNav {
    &.bg-primary {  
        transition: background-color 0.15s ease;
    }
    &.bg-transparent {
        transition: background-color 0.35s ease;
    }
}

#hamburger,
#logo {
    transition: 0.5s linear;
    &:hover {
        transform: scale(1.05);
    }
}

.navbar-collapse {
    @media (max-width: 767px) {
        background-color: $blue;
        border-top: solid 1px lighten($blue, 5%);
        border-bottom: solid 1px lighten($blue, 5%);
        //padding-top: 1rem;
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        margin-left: -$grid-gutter-width-base / 2;
        margin-right: -$grid-gutter-width-base / 2;
        @media (min-width: 768px) {
            margin-left: 0;
            margin-right: 0;
        }
        box-shadow: 0 3px 9px rgba($black,.3);
    }
}

.navbar-inverse .navbar-nav {

    .nav-link {
        padding-right: 0;
        padding-left: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: $green;
            background-color: darken($blue, 3%);
        }

        @media (min-width: 768px) {
            text-align: left;
            padding-top: 0.7rem;
            padding-bottom: 0.3rem;
            margin-right: 1rem;
            border-bottom: 2px solid transparent;
            &:hover {
                color: $white;
                background-color: transparent; 
                border-bottom: 2px solid white;
            }
        }
    }
    .nav-item {
        &.active {
            .nav-link {
                color: $green;
                background-color: darken($blue, 3%);

                @media (min-width: 768px) {
                    background-color: transparent;
                    border-bottom: 2px solid white;
                    color: #fff;
                }
            }
        }
        &:last-child .nav-link {
            @media (min-width: 768px) {
            margin-right: 0;
            }
        }
    }
}

