.site-logo { 
    float: left;
    padding: 1.1rem 1rem 0.70rem 1rem;
}
#logo {
    width: 80px;
    height: 25px;
}

.navbar-toggler {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    border: none;
    border-radius: 0;
    &:focus {
        outline: none;
    }
}
.navbar-toggler-right {
    right: 0;
}
.navbar-inverse .navbar-toggler-icon {
    background-image: none;
    height: auto;
    width: 24px;
}

#siteNav {
    transition: all 0.3s linear; 
}

#hamburger {
    display: inline-block;
    float: right;
    margin: 1.0938rem 1rem 0.9062rem 1rem;
    width: 24px;
    height: auto;
    vertical-align: middle;
}

#hamburger,
#logo {
    transition: 0.5s linear;
    &:hover {
        transform: scale(1.05);
    }
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    @media (min-width: 768px) {
        padding-top: 0.7rem;
        padding-bottom: 0.3rem;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid white;
        }
        margin-right: 1rem;
    }
}

.navbar .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.navbar .active .nav-link {
    @media (min-width: 768px) {
        border-bottom: 2px solid white;
    }
}