.green-text {
    color: $green;
}

.hem .projekt .section-heading {
    margin-bottom: 2.25rem;  
}

.projekt {
    .section-heading {
        color: $green;
    }
    padding-bottom: 0;
}

.projekt-item {
    position: relative;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
        min-height: 21.875rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 2;
    }
}

.projekt-alert {
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: auto;
    &.left {
        left: 0;
        top: 0;
    }
    &.right {
        right: 0;
        top: 0;
    }
    .alert-text {
        font-weight: 400;
    }
    .alert-num {
        font-family: $headings-font-family;  
        font-size: 1.5rem;   
    }
}

.alert-text {
    position: absolute;
    margin: 0;
    padding: 1rem 0;
    width: 100px;
    text-align: center;
    list-style: none;
    color: $white;
    font-size: 0.8rem;
    &.left {
        left: 0;
        top: 0;
    }
    &.right {
        right: 0;
        top: 0;
    }
}

.quote-section .quote-header {

}

.quote-section .quote {

}

.quote img {
    height: 50px;
}

.quote-text-box {
    border-bottom: 1px lighten( $blue, 10%) solid;
    &.last {
        border-bottom: none; 
    }
    @media (min-width: 576px) {
        border: none;
    }
}

.quote-text {
    font-style: italic;
}
.quote-name {
    color: $green;
    font-weight: normal;
    margin-bottom: 0;
}

.border-none {
    border-bottom: 0px;
}