section.om-oss {
    .section-heading {
        color: $green;
    }
}

// boxar på förstasidan
.marketing-list {
    margin-bottom: 2.25rem;
    .marketing-item {
        text-align: center;
        font-size: 1.125rem;
        .marketing-heading {
            color: $red;
        }
        &.bg-green {
            .marketing-heading {
                color: $white;
            }
        }
    }
}

.marketing-image {
    padding: 2rem 0;
    text-align: center;
    .svg-icon {
        height: 120px;
        width: auto;
    }
}

#handshake {
    padding: 0;
    //top: -60px;
    background-position: -200px 0px;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/img/sektion-darfor-desktop@2x.jpg");
    @media screen and (min-width: 768px) {
        background-position: 0 0;
        margin-top: 3.75rem !important; //mt-7
    }
}

.content-diagonal-top {
    display: block;
    width: 100%;
    height: 30%;
}

.small-diagonal {
    display: block;
    width: 100%;
    height: 50px;
    polygon {
        fill: $gray-lighter;
        @media screen and (min-width: 768px) {
            fill: $white;
        }
    }
}

#darfor,
#darfor-boxes {
    position: relative;
    top: -60px;
    @media screen and (min-width: 768px) {
        position: static;
    }
}

#darfor {
    .section-heading {
        margin-bottom: 1.5rem;
    }
}

#questions,
#specialister {
    position: relative;
    top: -100px;
    @media screen and (min-width: 768px) {
        top: -40px;
    }
}

#page-end {
    position: relative;
    top: -148px;
    @media screen and (min-width: 768px) {
        top: -40px;
    }
}

#world-green {
    background: url("../images/img/about-globalt-dsktop-bg@2x.jpg");
    background-size: cover;
}

.svg-icon-dyn {
    height: 72px;
    width: auto;
    @media screen and (min-width: 768px) {
        height: 120px;
    }
}

.about-list {
    .about-item {
        min-height: 16rem;
        &.bg-white {
            h3 {
                color: $red;
            }
        }
        /*
        .container {
            @include flex-center();
        }
        */
    }
}

.block {
    display: block;
    float: right;
}