<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kontakt</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!--Kontaktrutor-->
    <section class="bg-smoke contact-background section-padding-md">
        <section class="bg-smoke contact-background section-padding-md">
            <div class="container">
                <h2 class="red-text section-heading text-center">Möt våra medarbetare</h2>
                <div id="contact-media-query-squasher">
                    <div class="contact-main d-flex flex-column flex-md-column flex-wrap align-items-center align-content-md-around">


                        <!--Sonic-->
                        <div class="contact-card sonic col-sm-6 col-md-4 order-lg-last">
                            <img class="contact-img" src="../images/img/medarbetare-sonic.jpg" alt="Sonic" />
                            <div class="bg-white contact-card-inner">
                                <h3 class="contact-heading">Sonikku za Hejjihoggu</h3>
                                <p class="contact-title">Webbutveckling & Support</p>
                                <div>
                                    <i class="fa fa-envelope "></i> <a href="http://www.theonion.com/" class="">sonikku@asap.com</a>
                                </div>
                            </div>
                        </div>

                        <!--Max-->
                        <div class="contact-card max col-sm-6 col-md-4 ">
                            <img class="contact-img" src="../images/img/medarbetare-max.jpg" alt="Max Rockatansky" />
                            <div class="bg-white contact-card-inner">
                                <h3 class="contact-heading">Max Rockatansky</h3>
                                <p class="contact-title">Emergency Transporter</p>
                                <div>
                                    <i class="fa fa-envelope  envelope-size"></i> <a href="http://www.collegehumor.com/" class="">max@asap.com</a>
                                </div>
                            </div>
                        </div>


                       

                            <!--Barry-->
                            <div class="contact-card col-sm-6 col-md-4">
                                <img class="contact-img" src="../images/img/medarbetare-barry.jpg" alt="Barry Allen" />
                                <div class="bg-white contact-card-inner">
                                    <h3 class="contact-heading">Barry Allen</h3>
                                    <p class="contact-title">Tech Scientist</p>
                                    <div>
                                        <i class="fa fa-envelope "></i> <a href="http://www.overheardinnewyork.com/" class="">barry@asap.com</a>
                                    </div>
                                </div>
                            </div>


                            <!--Daniel-->
                            <div class="contact-card daniel col-sm-6 col-md-4">
                                <img class="contact-img" src="../images/img/medarbetare-daniel.jpg" alt="Daneil Morales" />
                                <div class="bg-white contact-card-inner">
                                    <h3 class="contact-heading">Daniel Morales</h3>
                                    <p class="contact-title">Emergency Transporter</p>
                                    <div>
                                        <i class="fa fa-envelope "></i> <a href="http://www.funnyordie.com/" class="">daniel@asap.com</a>
                                    </div>
                                </div>
                            </div>

                        

                    </div>
                </div>
            </div>
        </section>
        <script src="../js/main.js"></script>

</body>

</html>