<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kontakt</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body class="kontakt">
    <!-- Nav section -->
    <nav id="siteNav" class="navbar navbar-inverse fixed-top navbar-toggleable-sm bg-transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="../images/svg/icon-hamburger.svg" alt="hamburger menu"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img id="logo" src="../images/svg/asap-logo-02.svg" alt="ASAP logo"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="vad-vi-gor.html">Vad vi gör</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kundcase.html">Kundcase</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="kontakt.html">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- //End nav section -->
    <!--- header-section-->
    <header>
        <div id="kontakt-bg" class="bg-green text-center">
            <div class="main-headline-box d-flex align-content-center justify-content-end flex-column">
                <div class="headline-margin d-flex align-content-center justify-content-center flex-column flex-sm-row">
                    <h1 class="text-center">Det är vi som är ASAP</h1>
                </div>
                <img id="large-flash" class="flash-before align-self-center" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" class="flash-before" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>
            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon class="bg-green" points="100 0 100 10 0 10" />
            </svg>
            <div class="header-diagonal-bottom diagonal-bottom-fix bg-green d-flex align-items-center justify-content-center flex-row p-5">
                <p class="lead mt-2">Sveriges, kanske världens, snabbaste webbyrå.</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->

    <!--Text-->
    <section class="contact-section bg-white pt-7 pb-7">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-success mb-4">Vår story</h2>
                    <p class="lg-body-text">ASAP Development startades 2016 av fyra utvecklare som märkte att andra webbyråer mest fikar och spelar pingis.</p>
                    <p class="lg-body-text">Samtidigt vet vi att tidsaspekten ofta är det viktigaste för dagens kunder. Det måste gå snabbt. </p>
                    <p class="lg-body-text">Därför har vi sett till att ASAP Development blivit Sveriges, kanske världens, snabbaste webbyrå.</p>
                </div>
                <div class="col-md-4">
                    <div class="circle-wrapper">
                        <div class="circle bg-green lg-body-text-static">
                            <div class="inner-circle p-3 d-flex align-content-center justify-content-center flex-column">
                                <p class="text-center lg-body-text">Vi levererar din sajt på <b>24 timmar</b>. Med högsta kvalitet och full support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Kontaktrutor-->
    <section class="bg-smoke contact-background pt-7 pb-7">
        <div class="container">
            <h2 class="text-danger section-heading text-center mb-6">Möt våra medarbetare</h2>
            <div id="contact-media-query-squasher">
                <div class="contact-main d-flex flex-column align-items-center align-content-sm-around flex-nowrap flex-sm-wrap">


                    <!--Sonic-->
                    <div class="contact-card sonic order-md-first">
                        <img class="contact-img img-fluid" src="../images/img/medarbetare-sonic.jpg" alt="Sonic" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Sonikku za Hejjihoggu</h3>
                            <p class="contact-title">Webbutveckling & Support</p>
                            <div>
                                <i class="fa fa-envelope "></i> <a href="http://www.theonion.com/" class="">sonikku@asap.com</a>
                            </div>
                        </div>
                    </div>

                    <!--Max-->
                    <div class="contact-card max">
                        <img class="contact-img img-fluid" src="../images/img/medarbetare-max.jpg" alt="Max Rockatansky" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Max Rockatansky</h3>
                            <p class="contact-title">Emergency Transporter</p>
                            <div>
                                <i class="fa fa-envelope  envelope-size"></i> <a href="http://www.collegehumor.com/" class="">max@asap.com</a>
                            </div>
                        </div>
                    </div>

                    <!--Barry-->
                    <div class="contact-card">
                        <img class="contact-img img-fluid" src="../images/img/medarbetare-barry.jpg" alt="Barry Allen" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Barry Allen</h3>
                            <p class="contact-title">Tech Scientist</p>
                            <div>
                                <i class="fa fa-envelope "></i> <a href="http://www.overheardinnewyork.com/" class="">barry@asap.com</a>
                            </div>
                        </div>
                    </div>


                    <!--Daniel-->
                    <div class="contact-card daniel order-md-last">
                        <img class="contact-img img-fluid" src="../images/img/medarbetare-daniel.jpg" alt="Daneil Morales" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Daniel Morales</h3>
                            <p class="contact-title">Emergency Transporter</p>
                            <div>
                                <i class="fa fa-envelope "></i> <a href="http://www.funnyordie.com/" class="">daniel@asap.com</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Karta-->
    <section class="karta">
        <h2 class="section-heading text-center text-white mt-4 mt-md-6">Våra konsulter</h2>
        <img class="hidden-xs-down img-fluid" src="../images/img/bg-desktop-konsulter-map@2x.jpg" alt="medarbetare">
        <img class="hidden-sm-up img-fluid" src="../images/img/bg-mobile-konsulter@2x.jpg" alt="medarbetare">
    </section>

    <!--Form-->
    <section class="form-section pb-md-6 pt-md-6">
        <div class="form-wrapper bg-smoke container">
            <div class="form-container bg-white py-5 px-3 p-md-1">
                <h2 class="text-danger section-heading text-center mb-5">Vi svarar innan du hinner blinka</h2>
                <form>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 push-md-1">
                            <div class="form-group">
                                <label for="name">Namn</label>
                                <div class="form-input">
                                    <input class="form-control" type="text" name="name" required=""> </div>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <div class="form-input">
                                    <input class="form-control" type="email" name="email" required=""> </div>
                            </div>
                            <div class="form-group">
                                <label>Telefon</label>
                                <div class="form-input">
                                    <input class="form-control" type="tel"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 push-md-1">
                            <div class="form-group">
                                <label>Meddelande</label>
                                <div class="form-input">
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Skicka Meddelande" class="btn btn-submit btn-lg btn-block btn-outline-danger"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="site-footer bg-blue pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h4>ASAP DEVELOPMENT</h4>
                    <address>
							Tomtebodavägen 3A<br>
							171 65 Solna<br>
							info@asapdev.se<br>
							+46 8 466 60 00
						</address>

                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="clearfix">
                <ul class="pull-left ul-social list-unstyled list-inline">
                    <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                </ul>
                <a href="#" class="pull-right btn btn-sm btn-to-top"><i class="fa fa-angle-up"></i> </a>
            </div>
        </div>
    </footer>
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/tether.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>