<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kundcase</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css"> </head>

<body>
    <!-- Nav section -->
    <nav id="siteNav" class="navbar navbar-inverse fixed-top navbar-toggleable-sm bg-transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span id="open" class="navbar-toggler-icon">
                <img src="../images/svg/icon-hamburger.svg" alt="hamburger menu">
            </span>
            <span id="close" class="navbar-toggler-icon" style="display:none;">
                <img src="../images/icons/icon-flat3d-close.svg" alt="close menu">
            </span>
        </button>
        <a class="navbar-brand" href="../index.html"><img id="logo" src="../images/svg/asap-logo-02.svg" alt="ASAP logo"></a>
         <div class="collapse navbar-collapse" id="mainNavigation">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="vad-vi-gor.html">Vad vi gör</a> </li>
                <li class="nav-item active"> <a class="nav-link" href="kundcase.html">Kundcase</a> </li>
                <li class="nav-item"> <a class="nav-link" href="kontakt.html">Kontakt</a> </li>
            </ul>
        </div>
    </nav>
    <!-- //End nav section -->
    <!--Header Section-->
    <header>
        <div id="kundcase-bg" class="text-white text-center">
            <div class="main-headline-box d-flex align-content-center justify-content-end flex-column">
                <div class="headline-margin d-flex align-content-center justify-content-center flex-column flex-sm-row">
                    <h1 class="text-center">Våra projekt</h1>
                </div>
                <img id="large-flash" class="flash-before align-self-center" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" class="flash-before" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>
            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
				<polygon class="bg-blue" points="100 0 100 10 0 10" />
			</svg>
            <div class="header-diagonal-bottom diagonal-bottom-fix bg-blue d-flex align-items-center justify-content-center flex-row p-5">
                <p class="lead mt-2">Gör som några av världens största och mest innovativa företag. Anlita ASAP!</p>
            </div>
        </div>
    </header>
    <!--//End Header Section-->
    <!--Project Section-->
    <section class="projekt bg-smoke">
        <div class="projekt-item bg-white pt-7 pb-7 arrow-down-blue">
            <div class="projekt-alert left">
                <ul class="alert-text left">
                    <li class="">Fixad på</li>
                    <li class="alert-num">24</li>
                    <li class="">timmar</li>
                </ul>
                <img src="../images/svg/alert-circle-projekt-left.svg" alt="Fixad på 36 timmar" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="../images/img/projekt-logo-mob-dunder_mifflin.jpg" alt="Dunder Mifflin" />
                    </div>
                    <div class="col-md-7">
                        <h3>Dunder Mifflins</h3>
                        <p class="lg-body-text">Pappersföretaget Dunder Mifflin behövde bli mer responsiva. Det fixade vi över natten.</p>
                        <!-- 
                        <div class="mt-lg-7 mt-5">
                            <a href="#" class="btn btn-lg btn-outline-success">Till Sidan</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="projekt-item bg-lexcorp pt-7 pb-5">
            <div class="projekt-alert right">
                <ul class="alert-text right">
                    <li class="">Sajten fixad på</li>
                    <li class="alert-num">36</li>
                    <li class="">timmar</li>
                </ul>
                <img src="../images/svg/alert-circle-projekt-right.svg" alt="Sajten fixad på 36 timmar" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mb-5">
                        <h3>LexCorp</h3>
                        <p class="lg-body-text">Koncernen LexCorp behövde informera om ett olyckligt kemiskt utsläpp. Självklart valde de ASAP.</p>
                        <!-- 
                        <div class="mt-lg-7 mt-4">
                            <a href="#" class="btn btn-lg btn-outline-info">Till Sidan</a>
                        </div>
                        -->
                    </div>
                    <div class="col-md-5">
                        <img class="img-fluid" src="../images/img/projekt-logo-mob-lexcorp.jpg" alt="Lexcorp" />
                    </div>
                </div>
            </div>
        </div>
        <div class="projekt-item bg-white vandeley pt-7 pb-7 arrow-up-blue">
            <div class="projekt-alert left">
                <ul class="alert-text left">
                    <li class="">På plats inom</li>
                    <li class="alert-num">2</li>
                    <li class="">timmar</li>
                </ul>
                <img src="../images/svg/alert-circle-projekt-left.svg" alt="På plats inom 2 timmar" />
            </div>
            <div class="container">
                <div class="row d-sm-flex justify-content-sm-center">
                    <div class="col-md-5">
                        <img class="img-fluid" src="../images/img/projekt-logo-dsktop-vandelay.jpg" alt="Vandelay Industries" />
                    </div>
                    <div class="d-lg-flex flex-lg-column justify-content-lg-start col-md-7">
                        <h3>Vandelay Industries</h3>
                        <p class="lg-body-text">Alla utvecklare på latexföretaget Vandelay blev magsjuka. ASAPs personal ryckte in omgående.</p>
                        <!-- 
                        <div class="mt-lg-7 mt-5">
                            <a href="#" class="btn btn-lg btn-outline-success">Till Sidan</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//End Project Section-->
    <!--Quote Section-->
    <section class="bg-blue pt-7 pb-7">
        <div class="quote d-flex justify-content-center mb-5">
            <img src="../images/svg/icon-quote.svg" alt="citat">
        </div>
        <div class="container">
            <h2 class="section-heading green-text text-center mb-5">Så säger våra kunder</h2>
            <div class="quote-section row lg-body-text">
                <div class="quote-text-box col-sm-4 py-4 lg-body-text first">
                    <p class="quote-text">“Webbsidan blev klar medan jag drack kaffe.”</p>
                    <p class="quote-name">- Tony Stark</p>
                </div>
                <div class="quote-text-box col-sm-4 py-4 lg-body-text">
                    <p class="quote-text">”Tänk om allt gick så fort som det gör för ASAP”</p>
                    <p class="quote-name">- Bruce Wayne</p>
                </div>
                <div class="border-none quote-text-box col-sm-4 py-4 lg-body-text">
                    <p class="quote-text">“Time is money, friend.”</p>
                    <p class="quote-name">- Scrooge McDuck</p>
                </div>
            </div>
        </div>
    </section>
    <!--//End Quote Section-->
    <!--Form Section-->
    <section class="form-section pb-md-6 pt-md-6">
        <div class="form-wrapper bg-smoke container">
            <div class="form-container bg-white  py-5 px-3 p-md-1">
                <h2 class="text-danger section-heading text-center mb-5">Vi svarar innan du hinner blinka</h2>
                <form>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 push-md-1">
                            <div class="form-group">
                                <label for="your-name">Namn</label>
                                <div class="form-input">
                                    <input class="form-control" type="text" name="your-name" id="your-name" required=""> </div>
                            </div>
                            <div class="form-group">
                                <label for="your-email">E-mail</label>
                                <div class="form-input">
                                    <input class="form-control" type="email" name="your-email" id="your-email" required=""> </div>
                            </div>
                            <div class="form-group">
                                <label for="your-phone">Telefon</label>
                                <div class="form-input">
                                    <input class="form-control" type="tel" name="your-phone" id="your-phone"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 push-md-1">
                            <div class="form-group">
                                <label for="your-message">Meddelande</label>
                                <div class="form-input">
                                    <textarea class="form-control" rows="4" id="your-message" name="your-message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Skicka Meddelande" class="btn btn-submit btn-lg btn-block btn-outline-danger"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--//End Form Section-->
    <!--Footer Section-->
    <footer class="site-footer bg-blue pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h4>ASAP DEVELOPMENT</h4>
                        <address>
                        Tomtebodavägen 3A<br>
                        171 65 Solna<br>
                        <a href="mailto:info@asap.com" target="_top">info@asap.com</a><br>                   
                        <a href="tel:4684666000"> +46 8 466 60 00</a>
                    </address>
                    </div>
                <div class="col-md-8"></div>
            </div>
            <div class="clearfix">
                <ul class="pull-left ul-social list-unstyled list-inline">
                    <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                </ul>
                <a href="#" class="pull-right btn btn-primary btn-to-top"><i class="fa fa-angle-up"></i> </a>
            </div>
        </div>
    </footer>
    <!--//End Footer Section-->
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/tether.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>